input {
  padding: 10px 15px;
  border-radius: 5px;
  width: calc(100% - 35px);
  border-width: 1px;
  border-color: var(--color-aaaaaa);
}
.suffix {
  width: 20px;
  height: 20px;
  margin-left: -30px;
  vertical-align: sub;
  cursor: pointer;
}
.mb1 {
  margin-bottom: 1em;
}
